# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
java_pattern/.project
java_pattern/.classpath
java_pattern/.reverse.properties
java_pattern/.settings/org.eclipse.jdt.core.prefs
java_pattern/log.txt
*.uml
*.umladi
java_pattern/src/com/pattern/adapterlogmanger4/adapterlogmanger4.umldi
java_pattern/src/com/pattern/adapterlogmanger3/adapterlogmanger3.umldi
java_pattern/bin/com/pattern/adapterlogmanger3/adapterlogmanger3.umldi
java_pattern/bin/com/pattern/adapterlogmanger4/adapterlogmanger4.umldi
java_pattern/src/com/pattern/adapterlogmanger2/adapterlogmanager2.umldi
